@import url(./reset.css);


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {

    outline: 1px solid red;
}

:root {
--span-orange:#FF8A56;


}
body {
    font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    /* margin: 0 112.5px; */
    /* margin-left: 112.5px;
    margin-right: 112.5px;
    margin-top: 41px; */
    padding: 41px 112.5px 0;
    align-items: center;
}

.header a{
    color: #000000;
    padding: 5px;
    /* background-color: red; */
}

.fa-bars-staggered{
    display: none;
}

@media (max-width:788px) {

    .header {
        /* background-color: red; */
        padding: 41px 40px 0;

    }
     .fa-bars-staggered{
        display: flex;
        padding-right: 30px;
    }

     .nav-link{
        display: none; 
    }
}


/* Overlay menyunun yaradilmasi */
.overlay  {
    background-color: rgba(0 0 0.8);
    height: 100vh;

    position: fixed;
    width: 0;
    overflow-x: hidden;
}

.overlay .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.overlay .nav-link a {

      color:grey;
      margin-bottom: 10px;
      font-size: 34px;
      transition: all 1.4s ease;


}

   .overlay .nav-link a:hover {

    color: #fff; 
    transform: translate(70px);



   }

   .fa-xmark {
    color: #fff;
    position: absolute;
    top: 45px;
    right: 30px;  
    font-size: 34px;
    cursor: not-allowed;

   }

/* introduction section start */

.introduction {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    

}

.introduction h1 {
font-size: 3.8rem;
font-weight: 700;
min-width: 400px;


}
.introduction h1 span {
    color:var(--span-orange)
}

.introduction .intro-left-side {
    padding-top: 117px;
    padding-left: 113px;
    min-width: 560px;
}

.intro-right-side {
    
    padding-top:70px;
    min-width: 500px;
    height: 400px;
}

.intro-right-side img{
width: 100%;
height: 100%;
object-fit: contain;

}


    

/* introduction section end */

@media(max-width:1200px) {
.introduction {

    padding: 0 40px;
    flex-wrap: wrap;
}
.intro-left-side h1 {
font-size: 2.5rem;


}
.intro-left-side {
    min-width: 500px;
}

.intro-right-side {
    min-width: 450px;
}



}

@media(max-width:1108px) {
    .introduction{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:620px){
   .intro-left-side h1 {
    font-size: 2.4rem;
    text-align: center;


   }
   .intro-left-side {
    min-width: 360px;
   }
}

